html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Times new roman', sans-serif;
}

#gameDiv {
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;

    z-index: 1;
}
.trans-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0.5;
    background: white;
    z-index: -1;
}

#lastClueTimeDiv, #scoreDiv, #clueDiv, #timeDiv {
    position: absolute;
    top: 0;
    bottom: 0;

    text-align: center;

    z-index: 1;
}

#scoreDiv, #timeDiv {
    font-size: 55px;
}

#scoreDiv {
    left: 0;
    width: 25%;
    bottom: 25%;
}
#lastClueTimeDiv {
    left: 0;
    width: 25%;
    top: 75%;
    bottom: 0;

    font-size: 21px;
}

#clueDiv {
    left: 25%;
    width: 50%;

    font-size: 21px;
}

#timeDiv {
    right: 0;
    width: 25%;
    height: 75%;
}

#viewInsButton,
#viewMapButton {
    position: absolute;
    bottom: 0;

    width: 12.5%;

    font-size: 22px;

    cursor: pointer;
}
#viewMapButton {
    right: 12.5%;
}
#viewInsButton {
    right: 0;
}

#instructionsBox, #minimap {
    width: 100%;

    position: absolute;
    top: 100px;
    display: none;
}
#instructionsBox img, #minimap img {
    width: 100%;
}
.show {
    display: block !important;
}


#startScreen {
}

